*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.inside{
    background-image: url("../img/background.png"); /* The image used */
    /*background-color: #cccccc; /* Used if the image is unavailable */
    height: 1200px;/* You must set a specified height */
    width: 98%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.header{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    height: 300px;
    /*border: 1px black solid;*/
}


img{
    height: 300px;
}

.img{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: 0px 120px;
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}